<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <h4 class="title">Lista de animes</h4>
                    <p class="category">Todos os animes do Ribanimes</p>
                </div>
                <div class="text-center">
                    <div *ngIf="isLoading"><span class="ti-reload" style="margin-right: 0.5em;"></span> Carregando...</div>
                </div>
                <div class="content table-responsive table-full-width" *ngIf="!isLoading">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows">
                                <td *ngFor="let cell of row" (click)="openLg(content, cell)">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-c="close" let-d="dismiss" ng-cloak>
    <div class="modal-header">
      <h4 class="modal-title">{{ modalResult.informacoes.nome}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="isModalLoading">
        <div class="col-md-12">
            <div class="text-center">
                <img [src]="modalResult.informacoes.icone" class="img-responsive" style="max-width: 200px;"/>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-md-6">
                    <p><strong>Nome:</strong> {{ modalResult.informacoes.nome }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Gênero:</strong> {{ modalResult.informacoes.genero }}</p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <p><strong>Sinopse: </strong> {{ modalResult.informacoes.sinopse}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
            <button type="button" class="btn btn-primary"><span class="ti-pencil"></span> Editar</button>
        <button type="button" class="btn btn-danger" (click)="confirmSwal.show()"><span class="ti-trash"></span> Excluir</button>
        <button type="button" class="btn btn-light" (click)="c('Close click')">Fechar</button>
        <swal
        #confirmSwal
        title="Apagar anime?"
        text="Tem certeza do que está fazendo? Quer realmente apagar o anime: {{ modalResult.informacoes.nome }}"
        type="question"
        [showCancelButton]="true"
        [focusCancel]="true"
        (confirm)="excluirAnime(modalResult.informacoes.nome)">
        </swal>
    </div>
</ng-template>
  