    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Adicionar um novo anime.</h4>
                        <p class="category">Antes de criar <strong>verifique se o anime já existe,</strong> ainda não criei um sistema de verificação.</p>
                    </div>
                    <div class="content">

                        <form [formGroup]="formAnime">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control border-input" [(ngModel)]="nome" formControlName="nome" placeholder="Nome do anime" required>
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Genero</label>
                                        <input type="text" class="form-control border-input"  [(ngModel)]="genero" formControlName="genero" placeholder="Ação, Drama, Fantasia..." required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ícone</label>
                                        <input type="text" class="form-control border-input"  [(ngModel)]="icone" formControlName="icone" placeholder="https://imgur.com/a31ed.png" required>
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sinopse</label>
                                        <input type="text" class="form-control border-input" [(ngModel)]="sinopse" formControlName="sinopse" placeholder="Digite aqui a sinopse" required>
                                    </div>
                                </div>
                            </div>
                            
                            <swal
                                #sucessoSwal
                                title="Sucesso"
                                text="Anime criado com sucesso!"
                                type="success"
                                >
                            </swal>
                            <swal
                                #erroSwal
                                title="Erro"
                                text="Ocorreu algum erro! {{ error }}"
                                type="error"
                                >
                            </swal>
                            <div class="text-center">
                                <button class="btn btn-fill btn-primary"  (click)="addAnime()" type="submit" [disabled]="!formAnime.valid">Criar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
