    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Lista de links quebrados</h4>
                        <p class="category">Nesta lista haverá apenas a lista dos links, para editar <strong>deves ir até a sessão de adicionar um novo episódio e inserir o número do episódio seguido da nova URL</strong> após corrigir, exclua o link quebrado nesta página.</p>
                    </div>
                    <div class="text-center">
                        <div *ngIf="isLoading"><span class="ti-reload" style="margin-right: 0.5em;"></span> Carregando...</div>
                    </div>
                    <div *ngIf="!isLoading" class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td><a (click)="apagarLink(row)"><span class="ti-check"></span> Corrigido</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
