<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Logs.</h4>
                    <p class="category">Tenha plena certeza do que está fazendo <strong> os seus atos são de sua responsabilidade </strong></p>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <div *ngIf="isLoading"><span class="ti-reload" style="margin-right: 0.5em;"></span> Carregando...</div>
                </div>
                <div *ngIf="!isLoading" class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData2.dataRows.slice().reverse()">
                                <td *ngFor="let cell of row">{{cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>