<div class="container">

  <form class="form-signin" [formGroup]="formLogin">
    <h2 class="form-signin-heading">Entra aê, otaku</h2>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" formControlName="email" [(ngModel)]="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" formControlName="senha" [(ngModel)]="senha" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()" [disabled]="!formLogin.valid" type="submit">Sign in</button>
  </form>
    <swal
    #sucessoSwal
    title="Sucesso"
    text="Anime criado com sucesso!"
    type="success"
    >
    </swal>
    <swal
        #erroSwal
        title="Erro"
        text="Ocorreu algum erro! Dá uma conferida no seu usuário e senha aê!"
        type="error"
        >
    </swal>
</div> <!-- /container -->
