<nav class="navbar navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ti-panel"></i>
                        <p style="margin-left: 0.5em;">Olá: {{ user }}</p>
                    </a>
                </li>
                <li>
                    <a href="#" (click)="userService.logout()">
                        <i class="ti-shift-left"></i>
                        <p style="margin-left: 0.5em;">Sair</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
