
<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            RIBANIMES
        </a>
    </div>
    <div class="text-center" style="margin-top: 10px;">
        <p>Olá: </p> {{ currentUser }} | <a href="#">Sair</a>
    </div>
    <ul class="nav flex-column">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" >
            <a [routerLink]="[menuItem.path]" style="margin: 20px; margin-bottom: 10px;">
                <span [class]="menuItem.icon"></span>
                {{menuItem.title}}
            </a>
        </li>

      </ul>

</div>
