<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title"><span class="ti-shortcode"></span> Dev Logs</h4>
                  <p class="category">Resumos gerais da administração do app</p>
              </div>
            <div class="row" style="margin-left: 15px;">
                <div class="col-4" style="border: 1px solid; margin: 15px;">
                        <div class="text-center">
                            <h3>Roadmap app:</h3>
                        </div>
                        <ul>
                            <li class="resolvido">Quando o usuário clicar no episódio na home, redirecionar pro episódio com os dados</li>
                            <li class="resolvido">Desabilitar anúncio no episódio</li>
                            <li class="resolvido">Configurar player fuul screen</li>
                            <li>Resolver Next e prev quando não tem anterior e posterior</li>
                            <li class="resolvido">Episódios assistidos</li>
                            <li>Desabilitar botão de assistido no sucesso do callback de episódio assistido</li>
                            <li>Implementar um botão que limpa os episódios assistidos</li>
                        </ul>
                    </div>
                    <div class="col-4" style="border: 1px solid; margin: 15px;">
                        <div class="text-center">
                            <h3>Roadmap painel:</h3>
                        </div>
                        <ul>
                            <li>Criar calendário</li>
                            <li>Na inserção de um novo episódio, quando clicar no anime, pegar o número do último episódio e jogar no value do NumeroEp</li>
                            <li>Configurar calendário com banco de dados</li>
                        </ul>
                    </div>
                    <div class="col-4" style="border: 1px solid; margin: 15px;">
                        <div class="text-center">
                            <h3>Informações:</h3>
                        </div>
                        <p class="pergunta">Como faço para adicionar um anime/episódio?</p>
                        <p class="resposta">Aprenda tudinho agora mesmo <a href="#"> clicando aqui </a></p>
                        <hr />
                        <p class="pergunta">Nós hospedamos os vídeos dos animes?</p>
                        <p class="resposta">Não, nenhum vídeo de anime é de nossa responsabilidade.</p>
                    </div>
            </div>
          </div>
      </div>
  </div>
</div>