.pergunta {
    color: #673AB7;
    font-size: 1.5em;
    margin-bottom: 1px;
}

.resposta {
    margin-top: 0px;
}

#admin {
    color: #9393F0;
    background-image: url(http://resources.guild-hosting.net/201604011348/themes/core/images/tag_fx/sparkle_yellow.gif);
    background-repeat: no-repeat;
    font-weight: bold;
}

.resolvido {
	text-decoration: line-through;

}