<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Adicionar um novo episódio.</h4>
                    <p class="category">Antes de criar
                        <strong>verifique se o episódio já existe,</strong> ainda não criei um sistema de verificação.</p>
                </div>

                <div class="content">
                    <form [formGroup]="formEpisodio">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Selecione o anime</label>
                                    <ng-select [(ngModel)]="animeSelecionado" formControlName="animeSelecionado" required>
                                        <ng-option *ngFor="let anime of result" [value]="anime.nome">{{anime.nome}}</ng-option>
                                        <ng-option [value]="'custom'">Custom</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check form-check-inline" style="margin-top: 2.3em;">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="enviarPush" formControlName="enviarPush" id="defaultCheck1">
                                        <label style="margin-left: 4px;" class="form-check-label" for="defaultCheck1">
                                            <div class="alert alert-info">
                                                <span>NOTIFICAÇAO - Só marcar em caso de anime com hype.</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Número do EP.</label>
                                    <input [(ngModel)]="numeroEpisodio" formControlName="numeroEpisodio" type="number" class="form-control border-input" placeholder="198"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>URL</label>
                                    <input [(ngModel)]="urlEpisodio" formControlName="urlEpisodio" type="text" class="form-control border-input" placeholder="URL do vídeo"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-fill btn-primary" [disabled]="!formEpisodio.valid" (click)="criar()">Criar</button>
                        </div>
                        <swal #sucessoSwal title="Sucesso" text="Anime criado com sucesso!" type="success">
                        </swal>
                        <swal #erroSwal title="Erro" text="Ocorreu algum erro! {{ error }}" type="error">
                        </swal>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>