    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content" style="padding: 15px 15px 10px 45px;">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-video-clapper"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" style="margin-left: 20px;">
                                    <p>Animes</p>
                                    {{ countAnimes }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Adicionar um novo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content" style="padding: 15px 15px 10px 45px;">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-video-camera"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" style="margin-left: 20px;">
                                    <p>Episódios</p>
                                    563
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i> Adicionar um novo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content" style="padding: 15px 15px 10px 45px;">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" style="margin-left: 20px;">
                                    <p>L. quebrados</p>
                                    {{ tamanhoLinksQuebrados }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-timer"></i> Consertar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content" style="padding: 15px 15px 10px 45px;">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-user"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers" style="margin-left: 20px;">
                                    <p>Usuários</p>
                                    +{{ tamanhoUsuarios }}
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Atualizar agora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Últimos</h4>
                        <p class="category">Últimos <strong>episódios</strong> adicionados no sistema</p>
                    </div>
                    <div class="text-center">
                        <div *ngIf="isLoading"><span class="ti-reload" style="margin-right: 0.5em;"></span> Carregando...</div>
                    </div>
                    <div class="content table-responsive table-full-width" *ngIf="!isLoading">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr> 
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData1.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <div class="row">
                                            <button type="submit"  style="margin: 4px;" class="btn btn-warning btn-fill"><span class="ti-settings"></span></button>
                                            <button type="submit" (click)="confirmSwal.show()" style="margin: 4px;" class="btn btn-danger btn-fill"><span class="ti-trash"></span></button>
                                            <button type="submit" (click)="abrirModal(content, row)" style="margin: 4px;" class="btn btn-info btn-fill"><span class="ti-video-camera"></span></button>
                                        </div>
                                    </td>
                                    <swal
                                    #confirmSwal
                                    title="Apagar episódio?"
                                    text="Tem certeza do que está fazendo? Quer realmente apagar o episódio: {{ row[0] }} - {{ row[1] }}"
                                    type="question"
                                    [showCancelButton]="true"
                                    [focusCancel]="true"
                                    (confirm)="apagar(row)">
                                    </swal>
                                    <ng-template #content let-c="close" let-d="dismiss" ng-cloak>
                                        <div class="modal-header">
                                            <h4 class="modal-title">Vídeo - {{ row[0] }} - {{ row[1] }}</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" *ngIf="!isLoading">
                                            <p>Este é basicamente um teste pra você conferir se o vídeo está funcionando! </p>
                                            <div class="col-md-12">
                                                <video style="width: 100%" autoplay [src]="episodioVideoUrl" controls></video>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light" (click)="c('Close click')">Fechar</button>
                                            
                                        </div>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </div>
        </div>
    </div>


