<footer class="footer">
    <div class="container-fluid">
        
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, template made with <i class="fa fa-heart heart"></i> by <a href="https://www.creative-tim.com">Creative Tim</a> <strong> and </strong> coded with <i class="fa fa-heart heart"></i> by: <span style="color: #9393F0;background-image: url(http://resources.guild-hosting.net/201604011348/themes/core/images/tag_fx/sparkle_yellow.gif);background-repeat: no-repeat;font-weight: bold;">Thiago Tibau Salgado</span>
        </div>
    </div>
</footer>
